<h1><u>Editar Usuario</u></h1>

<%= render "form", psuser: @luser %>

<br>

<div>
  <%= link_to "Cancelar", @luser,"btn btn-secondary" %>
  <%= link_to "Volver al inicio", lusers_path, "btn btn-secondary" %>
</div>