<p style="color: green"><%= notice %></p>

<h1><u>Usuarios Actuales</u></h1>



<div class=" mb-3 text-center ">
    <% if Luser.first == current_luser %>
        <%= link_to "Crear un nuevo usuario", new_luser_path, class: "btn btn-secondary" %>
    <% end %>
</div>



<div id="lusers">

  <% @lusers.each do |luser| %>
    <%= render luser %>
    <p>
        <%= link_to "Mostrar Usuario", luser, class:"btn btn-secondary" %>
    </p>
  <% end %>
 
</div>
