<div class="text-center">
    <div class="d-flex justify-content-center"><h3><%= link_to "Ingresa a las ofertas", lposts_path, class:"btn btn-secondary" %></h3></div>
        <%= image_tag 'wp3289408.jpg', class: "w-75" %>
    </div>
</div>