<h1>Editing lpost</h1>

<%= render "form", lpost: @lpost %>

<br>

<div>
  <%= link_to "Show this lpost", @lpost, class:"btn btn-secondary" %> |
  <%= link_to "Back to lposts", lposts_path, class:"btn btn-secondary" %>
</div>
